# Assignment Notebook

Loading modules

In [1]:
# System tools
import os

# Data analysis
import pandas as pd
from collections import Counter
from itertools import combinations 
from tqdm import tqdm

# NLP
import spacy
nlp = spacy.load("en_core_web_sm")

# Network analysis tools
import networkx as nx
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (20,20)

# Regular expressions 
import re

2022-05-21 18:00:50.132044: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-05-21 18:00:50.132092: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

### Experimenting

In [3]:
# > Tried to load one dataset, but was 
# Get the filepath
#filepath = os.path.join("in", "dblp.txt")
# Load data
#y_test = pd.read_csv(filepath, header=None)

In [3]:
# Get data  
# Get the filepath
filepath = os.path.join("in", "cit-HepPh.txt")
# Reading the filepath 
# data = pd.read_csv(filepath, sep='\t')
with open(filepath, "r") as f:
    txt = f.read()

In [4]:
print(txt[:250])

# Directed graph (each unordered pair of nodes is saved once): Cit-HepPh.txt
# Paper citation network of Arxiv High Energy Physics category
# Nodes: 34546 Edges: 421578
# FromNodeId	ToNodeId
9907233	9301253
9907233	9504304
9907233	9505235
9907233	95

In [5]:
txt.split("\n", 4)[:4]

['# Directed graph (each unordered pair of nodes is saved once): Cit-HepPh.txt ',
 '# Paper citation network of Arxiv High Energy Physics category',
 '# Nodes: 34546 Edges: 421578',
 '# FromNodeId\tToNodeId']

In [6]:
txt_data = txt.split("\n", 4)[4]

In [7]:
print(txt_data[:100])

9907233	9301253
9907233	9504304
9907233	9505235
9907233	9506257
9907233	9606402
9907233	9607354
9907

In [31]:
outpath = os.path.join("in", "cit_HepPh_read.txt")
with open(outpath, "w") as f:
    f.write(txt_data)

In [8]:
# Get data  
# Get the filepath
filepath = os.path.join("in", "cit_HepPh_read.txt")
# Reading the filepath 
data = pd.read_csv(filepath, header = None, sep='\t', names = ("Source", "Target"))

In [ ]:
data.head()

    Source   Target
0  9907233  9301253
1  9907233  9504304
2  9907233  9505235
3  9907233  9506257
4  9907233  9606402

Count edges (directed)

In [15]:
# Create toy data
l = [["A", "B"], ["A", "B"], ["B", "A"], ["C", "A"], ["C", "B"], ["B", "C"], ["A", "C"]]
toy_df = pd.DataFrame(l, columns=["source", "target"])

In [17]:
toy_df.head()

  source target
0      A      B
1      A      B
2      B      A
3      C      A
4      C      B

In [22]:
toy_df.value_counts().reset_index(name='count')

  source target  count
0      A      B      2
1      A      C      1
2      B      A      1
3      B      C      1
4      C      A      1
5      C      B      1

In [24]:
data.head()

    Source   Target
0  9907233  9301253
1  9907233  9504304
2  9907233  9505235
3  9907233  9506257
4  9907233  9606402

In [53]:
new_data = data.value_counts().reset_index(name='Weights')

In [33]:
new_data.head()

    Source   Target  count
0     1001  9212308      1
1  9701370  9607362      1
2  9701371  9606390      1
3  9701371  9605411      1
4  9701371  9510449      1

In [39]:
new_data["count"].unique()

array([1])

I quess it does make sense for there to be no repeat values - it would make no sense for an article to make the same citation twice

In [40]:
new_new_data = data.groupby(['Source','Target']).size().reset_index().rename(columns={0:'count'})

In [42]:
new_new_data.head()

   Source   Target  count
0    1001  9212308      1
1    1001  9305239      1
2    1001  9306240      1
3    1001  9312276      1
4    1001  9312333      1

In [45]:
toy_df.groupby(['source','target']).size().reset_index()

  source target  0
0      A      B  2
1      A      C  1
2      B      A  1
3      B      C  1
4      C      A  1
5      C      B  1

In [32]:
subset_data

        Source   Target
117195  207185  9907233
143185    2193  9907233
393280  111281  9907233

In [47]:
new_data.insert(1, "Type", "directed")

In [48]:
new_data.head()

    Source      Type   Target  count
0     1001  directed  9212308      1
1  9701370  directed  9607362      1
2  9701371  directed  9606390      1
3  9701371  directed  9605411      1
4  9701371  directed  9510449      1

Making a graph now I guess

In [54]:
G = nx.from_pandas_edgelist(new_data, "Source", "Target", ["Weights"])

In [55]:
nx.draw_networkx(G, with_labels=True, node_size=20, font_size=10)

AttributeError: module 'scipy.sparse' has no attribute 'coo_array'